<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h2>Hello , Welcome to my API </h2>
<p>
    


This is a simple rest API made using FLASK as backend , tested using unittest module of python , Database used is MongoDB and deployed on ________ . <br>


The API has the following endpoints :<br>

</p>


<ul>
    <li>/display --> display all the elements in the list</li>
    <li>/add --> Add an item in todo list  </li>
    <li>/edit/_id --> edit an item in the list upon providing its id</li>
    <li>/delete/_id --> delete an element in the list upon providing its id</li> 
</ul>

<p>
    <p>
        Note: By running <code>test.py</code>, you can run the test cases. The test cases run in a sequential manner, i.e., a piece of data is added to the list, that same piece of data is updated, and then deleted. Therefore, we are dealing with only one piece of data in testing, and there is no need to clear the test database after running all the tests.
    </p>
    <br>
    Note: By running <code>run.py</code>, you can start the server and test the endpoints on clients such as Postman.
</p>

</body>
</html>